<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServerConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Beatriz\Entra21\HotelSystem\DataBase\DbHotelSystem.mdf;Integrated Security=True;Connect Timeout=30"/>
    <add name="OracleServerCOnnection" providerName="System.Data.Oracle" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <add key="CurrentConnection" value="SqlServerConnection"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>